on boot
    start bt_init

on property:init.svc.bluetoothd=running
    start hci0_up

on property:init.svc.bluetoothd=stopped
    start hci0_down

service bt_init /system/bin/sh /system/etc/init.bt.sh
    class main
    user root
    group bluetooth net_bt_admin system
    disabled
    oneshot

service hci0_up /system/bin/logwrapper /system/xbin/hciconfig hci0 up
    class main
    group bluetooth
    disabled
    oneshot

service hci0_down /system/bin/logwrapper /system/xbin/hciconfig hci0 down
    class main
    group bluetooth
    disabled
    oneshot

import init.bluetooth.rc
